body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('imagenes/cereales.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Encabezado superior */
header {
    background-color: #c11f1f;
    padding: 8px 15px;
}

.logo {
    height: 45px;
}

/* Contenedor general */
.contenedor {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: -5px auto;
}

/* Imagen difuminada */
.fondo-difuminado {
    background: url('imagenes/cereales.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(2px) brightness(0.9);
    height: 900px;
    border-radius: 5px;
}

/* Tabla encima del fondo */
.tabla {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Encabezado de la tabla */
.encabezado-tabla {
    background-color: #c11f1f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}

/* Fila con datos */
.fila-datos {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #333;
    font-weight: 500;
}

/* Estado con color */
.estado {
    color: orange;
    font-weight: bold;
}
/* Estado con color */
.estado1 {
    color: rgb(251, 255, 0);
    font-weight: bold;
}

/* Botones inferiores */
.botones {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 15px;
}

.btn-volver,
.btn-actualizar {
    background-color: #c11f1f;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-volver:hover,
.btn-actualizar:hover {
    background-color: #a01b1b;
}
